.post-form{
    display: flex;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #e8eaf1;
    margin-bottom: 20px;
    margin-top: 30px;
}

.post-form div{
    background-color: #f4f5f8;
    width: 100%;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    color: #8e97a3;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}

.post-form div:hover{
    color: #1877f2;
    transition: .3s;
}

.post-form p{
    margin: 0;
}

.post-form img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
}

.post-form input{
    width: 90%;
}

@media (max-width: 550px){
    .post-form{
        margin-top: 15px;
    }
}